html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* start editing from here */

a {
    text-decoration: none;
}
.txt-rt {
    text-align: right;
}
/* text align right */

.txt-lt {
    text-align: left;
}
/* text align left */

.txt-center {
    text-align: center;
}
/* text align center */

.float-rt {
    float: right;
}
/* float right */

.float-lt {
    float: left;
}
/* float left */

.clear {
    clear: both;
}
/* clear float */

.pos-relative {
    position: relative;
}
/* Position Relative */

.pos-absolute {
    position: absolute;
}
/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}
/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}
/* vertical align top */

nav.vertical ul li {
    display: block;
}
/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}
/* horizontal menu */

img {
    max-width: 35%;
}
/*end reset*/
/****-----start-body----****/

body {
    background: url("../images/background.jpg") 0px 0px no-repeat;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
@font-face {
    font-family: "Nunito-Light";
    src: url(../../fonts/Nunito-Light.ttf);
}
.main-content {
    width: 50%;
    background-color: rgba(255, 255, 255, 1);
    margin: 50px auto;
}
h1 {
    font-size: 40px;
    color: #000;
    text-align: center;
}
/*----sap-----*/

.inner {
    margin: 0 auto;
    padding: 50px 0px;
    text-align: center;
    -webkit-appearance: none;
}
.offer {
    width: 84%;
    margin: 20px auto 20px;
    text-align: left;
}
/*---------*/

.form input[type="text"],
.form input[type="password"] {
    outline: none;
    font-size: 16px;
    font-family: Nunito-Light;
    color: #fff;
    padding: 15px 10px;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 80%;
    margin: 0 0 15px 0;
    background: rgba(2, 2, 2, 0.60);
}
.sign-up input[type="submit"],
input[type="button"] {
    box-sizing: content-box;
    border: none;
    font-family: Nunito-Light;
    padding: 15px 10px;
    width: 80%;
    cursor: pointer;
    outline: none;
    display: inline-block;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: #e80707;
    color: #ffffff;
    background-image: -webkit-gradient( linear, left bottom, left top, from( #d60707), to( #e80707));
    background-image: linear-gradient( to top, #d60707, #e80707);
    background-image: -webkit-linear-gradient( to top, #d60707, #e80707);
    background-image: -moz-linear-gradient( to top, #d60707, #e80707);
    background-image: -ms-linear-gradient( to top, #d60707, #e80707);
    background-image: -o-linear-gradient( to top, #d60707, #e80707);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#e80707, endColorstr=#d60707);
}
input[type="button"] {
    background: #3b5998;
}
.sign-up input[type="submit"]:hover,
input[type="button"]:hover {
    background: #d60707;
    color: #780404;
    background-image: -webkit-gradient( linear, left bottom, left top, from( #e80707), to( #d60707));
    background-image: linear-gradient( to top, #e80707, #d60707);
    background-image: -webkit-linear-gradient( to top, #e80707, #d60707);
    background-image: -moz-linear-gradient( to top, #e80707, #d60707);
    background-image: -ms-linear-gradient( to top, #e80707, #d60707);
    background-image: -o-linear-gradient( to top, #e80707, #d60707);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#d60707, endColorstr=#e80707);
}
input[type="button"]:hover {
    background-color: #2d4373;
    background-image: none;
    color: #001242;
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #fff;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #fff;
}
:-ms-input-placeholder {
    color: #fff;
}
.form a {
    color: #fbfbdd;
    font-size: 18px;
    font-family: Nunito-Light;
}
/*---------------*/

.menu {
    text-align: center;
    margin: 30px 10px 5px 10px;
    color: #fff;
}
.menu p {
    color: #fff;
    font-family: Nunito-Light;
    font-size: 16px;
    font-weight: 600;
}
.menu p a {
    color: #e10707;
}
.menu p a:hover {
    color: #333333;
}
/*--responsive--*/

@media screen and (max-width: 1920px) {
    h1 {
        font-size: 52px;
    }
    /*.main-content{	width:50%;	}*/
    
    .sign-up input[type="submit"] {
        font-size: 20px;
    }
}
@media screen and (max-width: 1680px) {
    h1 {
        font-size: 48px;
    }
    /*.main-content{	width:50%;	}*/
}
@media screen and (max-width: 1440px) {
    h1 {
        font-size: 42px;
    }
    @media screen and (max-width: 1366px) {
        h1 {
            font-size: 40px;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
        }
    }
    @media screen and (max-width: 1280px) {
        h1 {
            font-size: 38px;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
        }
    }
    @media screen and (max-width: 1080px) {
        h1 {
            font-size: 34px;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 14px;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 18px;
        }
        .menu p {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 1024px) {
        h1 {
            font-size: 34px;
        }
        .main-content {
            margin: 25px auto;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 14px;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 18px;
        }
        .menu p {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 800px) {
        h1 {
            font-size: 30px;
        }
        .main-content {
            margin: 25px auto;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 14px;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 18px;
        }
        .menu p {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 768px) {
        h1 {
            font-size: 30px;
        }
        .main-content {
            margin: 20px auto;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 14px;
            margin: 0 0 12px 0;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 18px;
            padding: 10px 10px 10px 10px;
        }
        .menu p {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 640px) {
        h1 {
            font-size: 28px;
        }
        .main-content {
            margin: 20px auto;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 13px;
            margin: 0 0 12px 0;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 17px;
            padding: 10px 10px 10px 10px;
        }
        .menu p {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 600px) {
        h1 {
            font-size: 28px;
        }
        .main-content {
            width: 55%;
            margin: 20px auto;
        }
        .inner {
            padding: 25px 0px;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 13px;
            margin: 0 0 12px 0;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 17px;
            padding: 10px 10px 10px 10px;
        }
        .menu p {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 480px) {
        h1 {
            font-size: 26px;
        }
        .main-content {
            width: 58%;
            margin: 20px auto;
        }
        .inner {
            padding: 25px 0px;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 13px;
            margin: 0 0 12px 0;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 17px;
            padding: 10px 10px 10px 10px;
        }
        .menu p {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 414px) {
        h1 {
            font-size: 26px;
        }
        .main-content {
            width: 70%;
            margin: 20px auto;
        }
        .inner {
            padding: 25px 0px;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 13px;
            margin: 0 0 12px 0;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 17px;
            padding: 10px 10px 10px 10px;
        }
        .menu p {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 375px) {
        h1 {
            font-size: 24px;
        }
        .main-content {
            width: 80%;
            margin: 20px auto;
        }
        .inner {
            padding: 25px 0px;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 13px;
            margin: 0 0 12px 0;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 16px;
            padding: 10px 10px 10px 10px;
        }
        .menu p {
            font-size: 13px;
        }
    }
    @media screen and (max-width: 320px) {
        h1 {
            font-size: 22px;
        }
        .main-content {
            width: 90%;
            margin: 20px auto;
        }
        .inner {
            padding: 25px 0px;
        }
        .form input[type="text"],
        .form input[type="password"] {
            font-size: 13px;
            margin: 0 0 12px 0;
            padding: 10px;
        }
        .sign-up input[type="submit"] {
            border: 1px solid #fff;
            font-size: 16px;
            padding: 10px 10px 10px 10px;
        }
        .menu p {
            font-size: 13px;
        }
        .menu {
            margin: 15px 10px 10px 10px;
        }
        .form a {
            font-size: 14px;
        }
    }
    
}